@import url('https://fonts.googleapis.com/css2?family=Geo&family=Nanum+Brush+Script&family=Qwigley&display=swap');

* {
    box-sizing: border-box;
    color: #2a281e;
    font-family: Geo;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgba(220, 235, 161, .4);
    background-image: url(images/background-tahamie-farooqui-SBy-JYU3_WA-unsplash.jpg);
    background-blend-mode: screen;
    background-size: cover;
}

.main-header {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    align-items: center;
    text-align: center;
}

.journal-name {
    flex-grow: 1;
    margin: 0;
    font-size: 3em;
    font-weight: normal;
    color: #1c1a14;
    z-index: 2;
}

.today {
    margin: 0;
    font-family: 'Qwigley';
    font-size: 2em;
    font-weight: normal;
    color: #494534;
}

.today-large {
    flex-grow: 1;
    margin-top: -68px;
    margin-left: 125px;
    font-size: 6.5em;
    font-weight: lighter;
    color: rgba(73, 69, 52, .6);
    /* color: rgba(235, 161, 65, 0.7); */
    z-index: 3;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 3.5em;
}

.content-section {
    margin: 1em;
}

.content-prompt {
    font-size: 1.35em;
    color: #2a281e;
}

.content-prompt.cursive {
    font-family: 'Qwigley';
    font-size: 2em;
}

.content-input {
    border: none;
    background-color: rgba(73, 69, 52, .2);
    padding: 5px;
    font-size: 1em;
}

.content-input:focus {
    border: 1px solid rgba(250, 170, 68, .7);
}

.text-type {
    font-family: 'Qwigley';
    font-size: 2.5em;
    color: #494534;
    padding: 5px 15px;
    margin-left: 5px;
}

.top-content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.date-today {
    flex-grow: 1;
}

.days-of-the-week {
    display: flex;
    margin-left: 14px;
}

.day {
    display: flex;
    flex-direction: column;
}

.day label {
    margin-left: 8px;
}

.time {
    text-align: end;
}