@import url('https://fonts.googleapis.com/css2?family=Geo&family=Nanum+Brush+Script&family=Qwigley&display=swap');

* {
    box-sizing: border-box;
    color: #2a281e;
    font-family: Geo;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: beige;
}
